/* * - Тег зміннення усього */
/* span і т. д. - Теги змінення конкретного Тегу */
/* .class - Тег змінення обїєктів з конкретним классом (Приклади классу - .text, .redict) */

/* Стилі мінняються у порядку збільшування строк (Приклад Span: blue і Span: red| Працювати буде другий бо він останній) */
/* Теж саме працює і з файлами */

* {
    color: blueviolet;
    padding: 0;
    margin: 0;
}

span {
    color: blue;
}

span { 
    color: green;
}

.main_text {
    color: crimson;
}